<head>
  <title>忘却曲線</title>
</head>
<header>
<!--ロゴを配置
  <a href=""><img class="logo" src="/logo.gif"></a>
-->
</header>
<div class="top-wrapper">
  <div class="container">
    <h1>hogehoge</h1>
    <p>hogehogehogehoge</p>
    <p>hogehogehogehogehoge</p>
  </div>

</div>
<div class="news-wrapper">

</div>

<div class="disco-wrapper">

</div>

<div class="live-wrapper">

</div>

<div class="bio-wrapper">

</div>

<div class="media-wrapper">

</div>

<h1>HPタイトル</h1>
<p>ここにいろいろな説明を</p>

<footer>

</footer>
