<header>
  <div class="container">
    <div class="header-left">
      <a href="#header"><img class="logo" src="/logo.gif"></a>
    </div>
    <div class="header-right">
      <a href="#news">News</a>
      <a href="#disco">Discography</a>
      <a href="#live">Live</a>
      <a href="#bio">Biography</a>
    </div>
  </div>
</header>

<div class="top-wrapper">
  <div class="container">
    <h1 id="top">hogehogehoge</h1>
    <p>hogehoge</p>
    <p>hogehogehoge</p>
    <p>hogehogehogehoge</p>
    <div class="btn-wrapper">
      <a href="#" class="btn youtube"><span class="fa fa-youtube"></span>Youtube</a>
      <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>twitter</a>
    </div>
  </div>

</div>
<div class="wrapper" id="news">
  <h1>News</h1>
  <!--ここで最新を３回繰り返す-->
  <div class="contents">
    <a href="#"><h2>newstitle</h2>
      <p>hogehogehogehoge</p></a>
    </div>
    <div class="contents">
      <h2>newstitle</h2>
      <p>hogehogehogehoge</p>
    </div>
    <div class="contents">
      <h2>newstitle</h2>
      <p>hogehogehogehoge</p>
    </div>
    <!--３回繰り返すのここまで-->
    <div class="more-wrapper">
      <a href="#" class="more">more</a>
    </div>
  </div>

  <div class="wrapper" id="disco">
    <h1>Discography</h1>
    <div class="container">
      <div class="items">
        <div class="item">
          <a href="#"><div class="item-icon">

            <img src="/item_sample100x100.gif"><br>
            <p class="text-contents">ボキャブラ<br>ポケットティッシュ</p>

          </div>
        </a>
      </div>
      <a href="#"><div class="item">
        <img src="/item_sample100x100.gif"><br>
        <p class="text-contents">紳士のエチケット</p>

      </div>
    </a>
    <a href="#">
      <div class="item">
        <img src="/item_sample100x100.gif"><br>
        <p class="text-contents">究極の密着<br>タトゥーシール</p>

      </div>
    </a>
    <a href="#">
      <div class="item">

        <img src="/item_sample100x100.gif"><br>
        <p class="text-contents">スケスケ<br>クリアステッカー</p>


      </div>
    </a>
    <a href="#">
      <div class="item">

        <img src="/item_sample100x100.gif"><br>
        <p class="text-contents">大人の幕内弁当</p>


      </div>
    </a>
    <a href="#">
      <div class="item">

        <img src="/item_sample100x100.gif"><br>
        <p class="text-contents">comming soon</p>


      </div>
    </a>
    <a href="#">
      <div class="item">

        <img src="/item_sample100x100.gif"><br>
        <p class="text-contents">comming soon</p>


      </div>
    </a>


    <div class="clear"></div>

  </div>

</div>
</div>

<div class="wrapper" id="live">
  <h1>Live</h1>
  <!--ここで最新を３回繰り返す-->
  <div class="contents">
    <h2>Livestitle</h2>
    <p>Date:yyyy/mm/dd (ddd) OPEN/hh:mm START/hh:mm</p>
    <p>Place:hogeLiveHouse</p>
    <p>w/hogeband,hogeSound,hogeOrchestra</p>
  </div>
  <!--３回繰り返すのここまで-->
  <div class="more-wrapper">
    <a href="#" class="more">more</a>
  </div>

</div>

<div class="wrapper" id="bio">
  <h1>Biography</h1>
  <p>hogehogehogehogehoge</p>

</div>

<footer>

</footer>
